body{
    margin: 0 auto;
}

#profilePicture{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin: 15px;
}

h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 52px;
    font-weight: 400;
    text-align: left;
    margin: 0 15px 35px 0;
}

h3{
    font-family: 'Libre Baskerville', serif;
    font-size: 42px;
}

h3{
    font-family: 'Libre Baskerville', serif;
    font-size: 28px;
}

p{
    font-family: 'Karla', sans-serif;
    margin: 0;
}

address p{
    font-size: 24px;
    text-align: center;
}

h2 p{
    font-size: 30px;
    padding-bottom: 50px;
    font-weight: 400;
}

.date{
    font-weight: 700;
}

.thinLine{
    width: 80%;
    height: 1px;
    background-color: #000;
    display: block;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;    
}

header .thinLine{
    width: 320px;
    margin-left: auto;
}

.thickLine{
    width: 90%;
    height: 6px;
    background-color: #000;
    display: block;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 160px;    
}

.row{
    padding: 40px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.leftColumn, .rightColumn{
    width: 50%;
    float: left;
}

footer{
    height: 150px;
    margin: 50px 0 0 0;
    background-color: #000;
}

footer img{
    width: 80px;
    padding: 35px;
}

.center{
    text-align: center;
}

a{
    text-decoration: none;
}

#mySkills{
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #000;
    width: 50%;
    padding: 25px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

#mySkills a{
    color: #fff;
}

#mySkills:hover{
    font-size: 62px;
}

#titleMySkills{
    padding: 60px 0 0 0;
}

/* Mobile */


@media only screen and (max-width: 768px){

    #profilePicture{
        width: -50%;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 24px;
        margin: 0 0 10px 0;
    }

    h3{
        font-size: 20px;
    }

    h4{
        font-size: 14px;
    }

    p{
        font-size: 14px;
    }

    #mySkills{
        font-size: 30px;
    }

    #mySkills:hover{
        font-size: 32px;
    }

    .leftColumn, .rightColumn{
        width: 100%;
        float: left;
    }

    .thickLine{
        margin-top: 40px;
    }

    footer{
        height: 50px;
    }

    footer img{
        width: 25px;
        height: 25px;
        padding: 12.5px;
    }

}
